<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-content="title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                </a>
            </h4>
            <p data-content="pageText"></p>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <!-- Tweet list goes here-->
                <div id="childpages-container" class="list-group">
                    <!--load list of child pages here -->
                    <a href="#" class="list-group-item col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <img class="pull-left" data-src="holder.js/100x100" />
                        <h4 class="list-group-item-heading" data-content="title"></h4>
                        <p class="list-group-item-text" data-content="pageText"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>