<h2 style="color:#FFF;">Routes</h2>
<div class="listview">
    <div class="list" id="progress">
        <div class="list-content">
            <span class="icon icon-location-2 fg-lightBlue"></span>
            <div class="data">
                <span class="list-title">Grandparent's</span>
                <span class="list-remark">123 Happy Rd., Pleasantville, USA</span>
            </div>
        </div>
    </div>
    <div class="list" id="progress">
        <div class="list-content">
            <span class="icon icon-location-2 fg-lightBlue"></span>
            <div class="data">
                <span class="list-title">Stacy's</span>
                <span class="list-remark">456 Party St., Happy Town, USA</span>
            </div>
        </div>
    </div>
    <div class="list" id="progress">
        <div class="list-content">
            <span class="icon icon-location-2 fg-lightBlue"></span>
            <div class="data">
                <span class="list-title">Home</span>
                <span class="list-remark">789 Main St., Small Town, USA</span>
            </div>
        </div>
    </div>
</div>
<style>
    .list {
        background-color:#fff;
        }
</style>
