<h2 style="color:#FFF;">Time To Pick Up</h2>
<div class="listview">
    <div class="list" id="progress">
        <div class="list-content">
            <span class="icon icon-steering-wheel fg-lightBlue"></span>
            <div class="data">
                <div id="timer" class="progress-bar small" data-role="progress-bar"></div>
                <span id="notation" class="list-remark">9min... and counting</span>
            </div>
        </div>
    </div>
    <a href="#" class="list shadow" id="loca">
        <div class="list-content">
            <span class="icon icon-location fg-lightBlue"></span>
        </div>
    </a>
    <a href="#" class="list shadow bg-yellow">
        <div class="list-content">
            <span class="icon icon-cancel fg-white"></span>
            <div class="data">
                <h2><strong>Cancel Pick Up</strong></h2>
            </div>
        </div>
    </a>
</div>
<style>
    #progress {
        background-color:#fff;
        }
    .metro .progress-bar{
        background-color:yellow;
    }
    .metro .bg-cyan, .metro .progress-bar .bar{
        background-color:#ccc;
    }
</style>
